form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    sans-serif;
}

.form-control,
.step__action {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-weight: 500;
}

.step__hidden {
  display: none;
}

.step__show {
  display: block;
}

.dynamic-form-control {
  margin: 1rem 0;
}
