@if (recipe()) {

<section class="container-fix">

  <figure class=" mx-auto">
    <img [src]="recipe()?.image ? 'pic/recipes/' + recipe()?.image : '../pic/placeholder.png'" [alt]="recipe()?.title"
      class="border-2 border-lime-700 rounded-md">
  </figure>

  <div class="content flex justify-between max-w-[900px] gap-8 elemM">
    <div class=" text-container w-[60%]">
      <h2 class="">{{ recipe()?.title }}</h2>
      <p>{{ recipe()?.text }}</p>
    </div>

    <div class=" nutritional-values ml-auto ">
      <h3>Nährwerte pro Portion</h3>
      @if (recipe()?.nutritionalValues) {
      <ul class=" leading-6">
        <li class="flex-between li-even">
          <span>Kalorien (kcal):</span><span>{{recipe()?.nutritionalValues?.calories | roundPipe}} <span
              class="text-white">g</span></span>
        </li>
        <li class="flex-between li-even">
          <span>Eiweiß:</span><span>{{recipe()?.nutritionalValues?.protein | roundPipe}}
            g</span>
        </li>
        <li class="flex-between li-even">
          <span>Kohlenhydrate:</span><span>{{recipe()?.nutritionalValues?.carbohydrates | roundPipe}} g </span>
        </li>
        <li class="flex-between li-even"><span>Fett:</span><span>{{recipe()?.nutritionalValues?.fat | roundPipe}}
            g</span></li>
        <li class="flex-between li-even">
          <span>Balaststoffe:</span><span>{{recipe()?.nutritionalValues?.dietaryFiber | roundPipe}} g</span>
        </li>
      </ul>
      }

    </div>
  </div>



  <!--
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    *****
    ***
    *   working-hours-container
    ***
    *****
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    -->

  <div class="working-hours-container  flex justify-between mx-auto max-w-150 elemM ">
    <div class="info-box">
      <h4 class="">Schwierigkeitsgrad</h4>
      <div class="working-hours">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000">
          <path
            d="m175-120-56-56 410-410q-18-42-5-95t57-95q53-53 118-62t106 32q41 41 32 106t-62 118q-42 44-95 57t-95-5l-50 50 304 304-56 56-304-302-304 302Zm118-342L173-582q-54-54-54-129t54-129l248 250-128 128Z" />
        </svg>
        <span>{{ recipe()?.levelOfDifficulty }}</span>
      </div>
    </div>

    <div class="info-box">
      <h4 class="">Zubereitung</h4>
      <div class="working-hours">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"
          class="">
          <path
            d="M360-400h80v-200h-80v200Zm-160-60q-46-23-73-66.5T100-621q0-75 51.5-127T278-800q12 0 24.5 2t24.5 5q25-41 65-64t88-23q48 0 88 23t65 64q12-3 24-5t25-2q75 0 126.5 52T860-621q0 51-27 94.5T760-460v220H200v-220Zm320 60h80v-200h-80v200Zm-240 80h400v-189l44-22q26-13 41-36.5t15-52.5q0-42-28.5-71T682-720q-11 0-20 2t-19 5l-47 13-31-52q-14-23-36.5-35.5T480-800q-26 0-48.5 12.5T395-752l-31 52-48-13q-10-2-19.5-4.5T277-720q-41 0-69 29t-28 71q0 29 15 52.5t41 36.5l44 22v189Zm-80 80h80v80h400v-80h80v160H200v-160Zm280-80Z" />
        </svg>
        <span>{{ recipe()?.preparationTime }}</span>
      </div>
    </div>

    <div class="info-box">
      <h4>Kochzeit</h4>
      <div class="working-hours">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000">
          <path
            d="M177-560q14-36 4.5-64T149-680q-33-40-43.5-75.5T102-840h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Zm160 0q14-36 5-64t-32-56q-33-40-44-75.5t-4-84.5h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Zm160 0q14-36 5-64t-32-56q-33-40-44-75.5t-4-84.5h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78ZM200-160q-50 0-85-35t-35-85v-200h561q5-34 27-59.5t54-36.5l185-62 25 76-185 62q-12 4-19.5 14.5T720-462v182q0 50-35 85t-85 35H200Zm0-80h400q17 0 28.5-11.5T640-280v-120H160v120q0 17 11.5 28.5T200-240Zm200-80Z" />
        </svg>
        <span>{{ recipe()?.cookingTime }}</span>
      </div>
    </div>

    <div class="info-box ">
      <h4>Gesamtzeit</h4>
      <div class="working-hours">

        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000">
          <path
            d="M40-440v-80h81q14-127 103-216t216-103v-41h80v41q127 14 216 103t103 216h81v80H40Zm163-80h554q-14-103-92.5-171.5T480-760q-106 0-184.5 68.5T203-520Zm372 80H320v240h222q21 0 40.5-7t35.5-21l166-137q-8-8-18-12t-21-6q-17-3-33 1t-30 15l-108 87H400v-80h146l44-36q5-3 7.5-8t2.5-11q0-10-7.5-17.5T575-440Zm-335 0h-80v280h80v-280Zm0 360h-80q-33 0-56.5-23.5T80-160v-280q0-33 23.5-56.5T160-520h415q85 0 164 29t127 98l27 41-223 186q-27 23-60 34.5T542-120H309q-11 18-29 29t-40 11Zm240-440Z" />
        </svg>

        <span>{{ recipe()?.totalTime }}</span>
      </div>
    </div>
  </div>

  <!--
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    *****
    ***
    *   ingridient
    ***
    *****
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    -->
  <div class="ingridients--list-container content flex justify-between max-w-[900px] gap-8 elemM">
    <div class="ingridients-list">
      <h3>Zutaten</h3>
      @if (ingredients) {
      <ul class="leading-6">
        @for (ingridient of ingredients; track index; let index = $index;) {
        <li class="li-even">
          <span class="unit inline-block w-[3em] mr-1 text-right ">{{ ingridient.unit
            }}</span>
          <span class="weight inline-block mr-1">{{ ingridient.unitOfmeasurement.toLowerCase() }}</span>
          <span class="ingridient inline-block">{{ ingridient.ingredient | ucfirst:'all' }}</span>
        </li>
        }
      </ul>
      }
    </div>


    <!--
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    *****
    ***
    *   Button right site from ingredients
    ***
    *****
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    -->
    <div class="recipe-action-container flex flex-col justify-between">

      <div class="flex gap-x-8 items-center  border-lime-700 border-1 rounded-full p-2 mb-4">
        <button class="rounded-full border-4 border-solid  border-lime-700/20 cursor-pointer"
          (click)="onChangeServingSize('min')">
          <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#000"
            class="fill-lime-700">
            <path d="M200-440v-80h560v80H200Z" />
          </svg>
        </button>

        <span class="text-base"><span class="">{{servingSize }}</span> Portion(en)</span>
        <button class="rounded-full border-4 border-solid  border-lime-700/20 cursor-pointer"
          (click)="onChangeServingSize('add')">
          <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#000"
            class="fill-lime-700">
            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
          </svg>
        </button>
      </div>

      <!-- TODO: get the like from the current users likes recepies-->
      <!-- <figure class="m-0 flex ml-auto "> -->
      <!-- like -->
      <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#8C1A10"
          (click)="onChanceLink(false)">
          <path
            d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z" />
        </svg> -->
      <!-- not like -->
      <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#8C1A10"
          (click)="onChanceLink(true)">
          <path d=" m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81
          62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86
          158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87
          26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98
          107T480-228Zm0-273Z" />
        </svg> -->
      <!-- </figure> -->

      <!-- TODO: add to shoppinglist  -->
      <button class="btn btn-ghost-primary text-base" (click)="onAdInShoppingList()">
        In Einkaufsliste eintragen
      </button>
    </div>
  </div>

  <!--
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    *****
    ***
    *   steps
    ***
    *****
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    -->
  <div class="step-container elemM">
    <h3>Zubereitung</h3>
    <ol class="list-decimal leading-6">
      @if (recipe()?.steps) {
      @for (step of recipe()?.steps; track index; let index = $index) {
      <li class="mb-4">{{step }}</li>
      }
      }
    </ol>
  </div>

  <!--
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    *****
    ***
    *   Categories
    ***
    *****
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    -->
  <div class="categories-container flex items-center mb-10 elemM">
    <div class="mr-2 text-lime-700">Kategorie:</div>
    @if (recipe()?.categories) {
    <div class="flex justify-center">
      @for (category of recipe()?.categories; let index = $index; let last = $last; track index) {
      <div class="">{{
        !last ? category + ', ' : category }}
      </div>
      }
    </div>
    }
  </div>
  <!--
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    *****
    ***
    *   back button
    ***
    *****
    +****+****+****+****+****+****+****+****+****+****+****+****+****+****
    -->
  <div class="btn-group elemMR">
    <button type="button" class="btn btn-ghost-primary w-[100px] elemMR justify-center  " (click)="onGoBack()">
      Zurück
    </button>
  </div>

</section>
}