.recipe-container {
  // display: flex;
  // flex-direction: row;
}

.categories-container li:not(:last-of-type) {
  padding-right: 0.2rem;
  &:after {
    content: ', ';
  }
}

figure img {
  max-height: 400px;
  margin: 0 auto;
}

.glass-edge {
  filter: blur(8px);
}

.infobox {
  background-color: rgba(73, 125, 0, 0.2);
  -webkit-mask-image: radial-gradient(circle, black 40%, transparent 95%);
  mask-image: radial-gradient(circle, black 40%, transparent 95%);

  padding: 40px;
}

.container-fix {
  container: recipe-details-container / inline-size;
}

// @container ecipe-details-container (max-width: 550px) {
//   .recipe-container {
//     flex-direction: column;
//   }
// }
