.message__container {
  border: 1px solid black;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 0.375rem;
  & h3 {
    color: black;
  }
  & .message__action {
    display: flex;
    justify-content: flex-end;
  }
  & button {
    border-radius: 100%;
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
  }
  &.message-success {
    border-color: var(--color-lime-700);
    background-color: color-mix(in oklch, var(--color-lime-700), transparent 90%);
  }
  &.message-danger {
    border-color: var(--color-red-500);
    background-color: color-mix(in oklch, var(--color-red-500), transparent 90%);
  }
  &.message-warn {
    border-color: var(--color-yellow-500);
    background-color: color-mix(in oklch, var(--color-yellow-500), transparent 90%);
  }
}
