ion-card {
  ion-card-content {
    ion-title {
      padding-left: 0;
    }
    img {
      max-width: 300px;
    }
  }

  .calories-container {
    display: flex;
    align-items: flex-end;
  }

  .footer ion-col{
    display: flex;
    justify-content: space-between;
  }
}


.no-item-container {
  color: var(--ion-color-danger);
  text-align: center;
  margin-top: 1rem;
}

.last-item {
  margin-bottom: 4rem;
}
