:root {
  --color: 155, 0, 100;
}
.test {
  background-color: color-mix(in srgb, var(--color-lime-700) 40%, transparent);
  //   background-color: var(--color-lime-700);
}

// figure {
//   background-color: red;
// }
// figcaption {
//       display: flex;
//     flex-direction: column;
//     /* align-items: self-end; */
//     justify-content: flex-end;
//     align-items: flex-end;
// }