.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-right45degUp {
  // calc(-45deg + (-45deg/2))
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.arrow-right45degDown{
  transform: rotate(0);
  -webkit-transform: rotate(0);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
