/*
********************************************************************************
*****
***
* Form
***
*****
********************************************************************************
*/


// form,
// .result-output {
//   ion-item:not(header ion-item) {
//     --background: var(--ion-color-light);
//   }
// }

form {
  ion-row:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.submit-btn-container,
form ion-item:not(:first-child) {
  margin-top: 1rem;
}

.error-msg {
  margin: .5rem 0 1rem 0;
  padding-left: 1rem;
}

// set the height from a checkbox
.item-height-100 {
  height: 100%;
  &::part(native) {
    height: 100%;
  }
}
/*
********************************************************************************
*****
***
* alert confirm
***
*****
********************************************************************************
*/
.alert .alert-message{
  margin-top: 1rem;
  padding-bottom: 0;
}

.alert-success .alert-head {
      background: var(--ion-color-success);
    }

  .alert-danger .alert-head {
      background: var(--ion-color-danger);
      h2 {
        color: #fff;
      }

    }
  .alert-warning .alert-head {
    background: var(--ion-color-warning);
  }


.toast {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  &.toast-success {
    color: #000;
  }
}

/*
********************************************************************************
*****
***
* accordion
***
*****
********************************************************************************
*/
ion-accordion {
  padding-bottom: 1rem;
  ion-item {
    border: 2px solid var(--ion-color-danger);
  }

  &:last-child .accordion-content {
    border-bottom: 2px solid var(--ion-color-danger);
  }

  ion-accordion:last-child .accordion-content {
    border-bottom: none;
  }
}

ion-accordion.accordion-collapsing ion-item,
ion-accordion.accordion-collapsed ion-item {
  background-color: var(--ion-color-transparent);
}

ion-accordion {
  ion-accordion-group {
    margin-left: 1rem;
    ion-item {
      border: none;
    }
  }
}

/*
********************************************************************************
*****
***
* list
***
*****
********************************************************************************
*/
[class^="training-list"] {
  ion-list {
    padding-top: 0;
    padding-bottom: 0;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
