<ion-footer id="main-footer" class="ion-margin-top">
    <ion-tabs >
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom" color="">
        <ion-tab-button   [routerLink]="'/workout-list'"  >
          <ion-icon name="home-outline"  color="" ></ion-icon>
        </ion-tab-button>

        <ion-tab-button  [routerLink]="'/settings'">
          <ion-icon name="settings"></ion-icon>
        </ion-tab-button>

        <ion-tab-button  [routerLink]="'/home'" color="">
          <ion-icon name="menu"></ion-icon>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
</ion-footer>
