<footer class="bg-slate-900 px-3  border-b-2 border-t-gray-100/40 ">
  <nav class="flex justify-around sm:flex-col w-[600px] ">
    <ul class=" inline-block min-w-[200px]">
      <li class="not-last-of-type:mb-2 sm:not-last-of-type:mr-5 px-5 py-3 hover:bg-slate-800 focus:bg-slate-800">
        <a class="text-white  " href="#">Meta</a>
      </li>
      <li class="not-last-of-type:mb-2 sm:not-last-of-type:mr-5 px-5 py-3 hover:bg-slate-800 focus:bg-slate-800">
        <a class="text-white  " href="#">Meta</a>
      </li>
      <li class="not-last-of-type:mb-2 sm:not-last-of-type:mr-5 px-5 py-3 hover:bg-slate-800 focus:bg-slate-800">
        <a class="text-white  " href="#">Meta</a>
      </li>
    </ul>

    <ul class=" inline-block min-w-[200px]">
      <li class="not-last-of-type:mb-2 sm:not-last-of-type:mr-5 px-5 py-3 hover:bg-slate-800 focus:bg-slate-800">
        <a class="text-white  " href="#">Meta</a>
      </li>
      <li class="not-last-of-type:mb-2 sm:not-last-of-type:mr-5 px-5 py-3 hover:bg-slate-800 focus:bg-slate-800">
        <a class="text-white  " href="#">Meta</a>
      </li>
      <li class="not-last-of-type:mb-2 sm:not-last-of-type:mr-5 px-5 py-3 hover:bg-slate-800 focus:bg-slate-800">
        <a class="text-white  " href="#">Meta</a>
      </li>
    </ul>

    <ul class=" inline-block min-w-[200px]">
      <li class="not-last-of-type:mb-2 sm:not-last-of-type:mr-5 px-5 py-3 hover:bg-slate-800 focus:bg-slate-800">
        <a class="text-white  " href="#">Meta</a>
      </li>
      <li class="not-last-of-type:mb-2 sm:not-last-of-type:mr-5 px-5 py-3 hover:bg-slate-800 focus:bg-slate-800">
        <a class="text-white  " href="#">Meta</a>
      </li>
      <li class="not-last-of-type:mb-2 sm:not-last-of-type:mr-5 px-5 py-3 hover:bg-slate-800 focus:bg-slate-800">
        <a class="text-white  " href="#">Meta</a>
      </li>
    </ul>


  </nav>
</footer>
