@import 'tailwindcss';
@import 'app/theme/variable';

// allows the user to manually switch to dark mode
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --text-tiny: 1.25rem;
  --text-tiny--line-height: 1.725rem;
  --text-tiny--letter-spacing: 0.125rem;
  --text-tiny--font-weight: 500;

  --color-mint-500: oklch(0.4 0.11 200);
  --black-o-125: rgba(0, 0, 0, 0.125);
  --color-blackGray: rgb(15, 15, 20);

  --marginLayout: 1.25rem;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-vCenter {
  @apply flex items-center;
}

@utility flex-between {
  @apply flex justify-between;
}

@layer components {
  body {
    @apply text-xl;
  }

  h1,
  h2,
  h3 {
    @apply pb-2 text-lime-700;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    font-size: 26px;
  }

  /*
  *****
  ***
  * layout
  ***
  *****
  */
  .container-flex {
    margin: auto;
    padding: 0 var(--marginLayout);
    width: 90vw;
    max-width: 1600px;
  }

  .container-fix {
    margin: 0 auto;
    padding: 0 var(--marginLayout);
    max-width: 900px;
  }

  .row-50 {
    width: 50%;
  }

  .row-100 {
    width: 100%;
  }

  .row-33 {
    width: calc(100% / 3);
  }

  .row-25 {
    width: 25%;
  }

  .elemM {
    @apply mt-16;
  }

  .elemMR {
    @apply flex ml-auto;
  }

  /*
  *****
  ***
  * list
  ***
  *****
  */
  .li-odd {
    @apply p-2 odd:bg-lime-700/10;
  }

  .li-even {
    @apply p-2 even:bg-lime-700/10;
  }

  .btn {
    @apply rounded-full border-4  py-2 px-2 w-[100%] cursor-pointer;
    &.btn-primary {
      @apply border-solid  border-lime-700/20 bg-lime-700/40;
    }
    &.btn-ghost-primary {
      @apply border-solid  border-lime-700;
    }
    &.btn-danger {
      @apply border-solid  border-red-500 bg-red-500/80 text-black;
    }
    &.btn-ghost-danger {
      @apply border-solid  border-red-500;
    }
  }

  .clip {
    @apply border-1  rounded-full p-3 text-center mr-2;
    &.clip-primary {
      @apply border-lime-700 bg-lime-700/50;
    }
    &.clip-ghost-primary {
      @apply border-lime-700 border-1;
    }
  }

  .searchControl {
    @apply my-2 placeholder-white/50 placeholder:text-base w-[100%] bg-transparent ml-[-1.0rem] px-[2.5rem]  py-2 border-solid border-b-white/50 border-b-2 text-white focus:outline-lime-700/20 focus:text-white focus:border-b-white;
  }

  .formControl {
    @apply w-[100%]  p-1 bg-transparent  text-lime-700 border-solid border-b-lime-700/50 border-l-lime-700/50 border-l-2 border-b-2 rounded-md placeholder-lime-700 placeholder:text-base focus:outline-lime-700/20 focus:text-black focus:border-b-white;
  }

  .formControlRangeGroup {
    border-bottom: 2px solid color-mix(in oklch, var(--color-lime-700), transparent 50%);
    border-left: 2px solid color-mix(in oklch, var(--color-lime-700), transparent 50%);
    border-radius: 0.375rem;
    padding: 0.25rem;
    padding-bottom: 0;
    & output {
      color: var(--color-lime-700);
    }
  }

  .checkbox {
    @apply ml-1 outline-lime-700 outline-1 accent-lime-700 checked:text-white;
  }

  #mainnav {
    @apply flex flex-col;
  }
  .mainnav-list-container {
    @apply flex flex-col sm:flex-row mt-2 sm:mt-0;
  }
  .mainnav-list-item {
    @apply sm:not-last-of-type:mr-5 px-4 sm:px-0 not-last-of-type:pr-4 border-1 sm:border-0 border-slate-700  py-3 hover:bg-slate-800 focus:bg-slate-800 leading-8;
  }
  .mainnav-list-link {
    @apply text-white/50  sm:rounded-xl;
  }
  .mainnav-list-icons-btn {
    @apply self-end  cursor-pointer;
  }

  .recipe-card {
    @apply bg-lime-700/40 m-0 border-4 border-solid border-t-0 sm:w-[275px] cursor-pointer;
    border-image: linear-gradient(
        to top,
        color-mix(in srgb, var(--color-lime-700) 40%, transparent),
        rgba(0, 0, 0, 0)
      )
      1;

    figcaption {
      @apply text-black text-base   px-2 py-2;
    }
  }

  .info-box {
    @apply p-4;
    h4 {
      @apply text-center mb-2 font-bold;
    }
  }
  .working-hours {
    @apply w-[100px] flex  items-center;
    svg {
      @apply mr-2 fill-lime-700;
    }
  }
}

// Layout
.grid-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (var(--tabletWidth)) {
  .grid-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form-control {
    width: 100%;
  }
}
