<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button shape="round" (click)="onOpenRecipiesFormModal()">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>

  <app-recipies-list [recipies]="recipies()"></app-recipies-list>

</ion-content>
