@if(translucent) {
<ion-header [translucent]="true" class="main-header">
  <ion-toolbar color="">
    <ion-title size="large" color="">
      <h1>{{ headline() }}</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

}



<ion-content [fullscreen]="true" class="ion-margin-start">
  @if(!translucent) {
  <ion-header class="main-header">
    <ion-toolbar color="">
      <ion-title size="large" color="">{{ headline() }} </ion-title>
    </ion-toolbar>
  </ion-header>
  }
  <ion-grid>
    <ng-content></ng-content>
  </ion-grid>

</ion-content>



<app-footer></app-footer>
